<div class="header">
    <h1>
      Electronics And Communication Engineering
    </h1>
    <h2 style="color: #a0162a; padding: 20px;">Intake: 60 Seats</h2>
  </div>
  <p style="width: 80%; margin: auto; font-size: medium;">The Department of Electronics and Communication Engineering of TINJRIT has very advanced 
    laboratories equipped with high end instruments from Agilent, Rohde and Schwartz, Tektronix and Texas Instruments. 
    The powerful CAD tools for VLSI, RF Design, Electromagnetic simulation and Circuit simulation provide high tech platforms 
    for experimentation with extreme flexibility. Students and faculty of ECE are continuously engaged in updating the knowledge 
    through projects, experimentation, Industry tie-ups and research publication. The department has best academic results and 
    highly professional Industry trainings are conducted regularly by reputed organizations, Industry experts and faculty members .
     Graduates are placed in 
    Robert Bosch, Siemens, Huawei, Qualcomm, Cadence, Secure Meters, TCS, Cognizant, eInfochips, 3i-Infotech and other multinationals.</p>
  <h4 class="head">Specialization</h4>
  <div class="specialization">
  
    <div class="card bg-dark text-white ">
      <img src="../../assets/iot.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Internet of Things ( IoT)</h5>
      </div>
    </div>
    <div class="card bg-dark text-white ">
      <img src="../../assets/vlsi.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">VLSI design</h5>
      </div>
    </div>
    <div class="card bg-dark text-white ">
      <img src="../../assets/digital signal.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Digital Signal & Video Processing</h5>
      </div>
    </div>
    <div class="card bg-dark text-white ">
      <img src="../../assets/embedded system.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Embedded Systems using ARM, PSoC, MSP430</h5>
      </div>
    </div>
  </div>
  
   <mat-tab-group class="tabs">
    <mat-tab label="STATE OF ART LABORATORIES"> 
      <ul>
        <li>Internet of Things Laboratory equipped with ARM Cortex series & MSP3430 ultra low power microcontrollers, PSoCs, Raspberry Pi boards along with BLE, Zigbee, NRF communication modules.</li>
        <li>Advanced Microwave Laboratory equipped with X-Band Test-benches and Microstrip Components/ antennas, Anechoic Chamber Test Facility with 6 GHz VNA by Anritsu</li>
        <li>Advanced Linear Integrated Circuits lab with FPAA and Texas Instrument’s ASLK kits</li>
        <li>Digital Signal Processing and Image Processing Laboratory</li>
        <li>Signals and Systems Laboratory</li>
        <li>Embedded Systems Lab equipped with PIC, ARM, AVR microcontroller boards</li>
        <li>Wireless Communication with Satellite, GPS & RADAR experiments</li>
        <li>Digital Circuits & system design with Reconfigurable FPGA Hardware laboratory</li>
        <li>Advanced Analog & Digital Communication Laboratory</li>
        <li>Optical Fiber Communication Laboratory</li>
      </ul>
    </mat-tab>
    <mat-tab label="RESEARCH CENTER LAB & ADVANCE DESIGN PLATFORMS"> 
      <ul>
        <li>Microwave Passive Component and Antenna Design and research Laboratory</li>
        <li>FPAA Analog design and research kit</li>
        <li>Feko, ADS, Genesys and SystemVue for RF and Communication system design</li>
        <li>Anechoic Boxes for Antenna Testings</li>
        <li>Spartan – 6 for Reconfigurable Digital Circuit experimentation</li>
        <li>Texas Instruments Digital Signal Processing TMS320</li>
        <li>Texas Instruments Digital Image Processing platforms</li>
        <li>LabView for Virtual Instrumentation</li>
        <li>VI Microsystems RF Filter and Amplifier design system</li>
        <li>Emona Kits for communication system analysis</li>
        <li>Color Pattern Generators</li>
      </ul>
    </mat-tab>
    <mat-tab label="HIGH END INSTRUMENTS"> 
      <ul>
        <li>Tektronix 25 MHz dual arbitrary waveform generator</li>
        <li>APLAB 4 Channel 100 MHz Color Oscilloscope</li>
        <li>Logic Analyzer 200 MHz 250 Msamples/sec</li>
        <li>Fluke Multimeter& Aplab 4 ½and 5 ½ Digit Multimeters</li>
        <li>3 MHz AM FM Function Generator</li>
        <li>3 M Hz Multi Function Generator</li>
        <li>Universal Programmer</li>
        <li>LabView for Virtual Instrumentation</li>
        <li>LCR Meter</li>
        <li>¾ Digital Multimeter</li>
        <li>USB Interface For Robotic ARM Edge By OWI Robotics</li>
        <li>Siglent 2 Channel 50 & 70 MHz Digital Storage Oscilloscope</li>
        <li>Agilent 4 Channel 100 MHz Digital Storage Oscilloscope</li>
        <li>Arbitrary Waveform Function Generator</li>
        <li>Keysight Technologies infivision 200 MHz Mixed Signal oscilloscope.</li>
        <li>Texas Instruments TMS320C5535 fixed-point ultra-low-power DSP boards.</li>
       <li>Cypress 200MHz FM4 S6E2C-Series Speech processing Boards.</li>
       
      </ul>
    </mat-tab>
    <mat-tab label="HARDWARE KITS AND DESIGN TOOLS">  
      <li>TI TMS32C6713 DSK with 16 MEG SD-RAM DSP Boards.</li>
      <li>FPAA Kits-Programmable Analog Array</li>
      <li>FPGA Kits-Programmable Gate Array</li>
      <li>FPGA Kits-Programmable Gate Array</li>
      <li>Dream Catcher Instrumentation & Measurement Kit.</li>
      <li>Dream Catcher Analog Electronics Kit</li>
      <li>8086 Microprocessor Board</li>
      <li>RASPBERRY PI2 Board</li>
      <li>PSOC Board</li>
      <li>FRDM Board</li>
      <li>Mentor Graphics Front-End & Back-End tools (HEP1 & HEP 2)</li>
      <li>Xillinx</li>
      <li>MATLAB</li>
      <li>OrCAD Version 16.3</li>
      <li>RF Design</li>
      <li>Agilent’s ADS, Genesys</li> 

    </mat-tab>
  </mat-tab-group>
  <h1 style="color: #a0162a; text-align: center; padding: 20px; font-size: 50px; border: 1px solid #a0162a; width: 90%; margin: auto;">Our Faculty</h1>
  <section>
    <div class="container">
      <div class="card col-md-3" *ngFor="let i of faculty">
        <div class="content">
            <div class="imgBx">
              <img [src]="i.img">
            </div>
            <div class="contentBx">
              <h3>{{i.name}}<br><span>{{i.post}}</span></h3>
            </div>
          </div>
          <ul class="sci">
            <li style="--i:1">
             <a > <i class="bi bi-envelope-open-fill" aria-hidden="true" ></i></a>
            </li>
          </ul>
        </div>
     
      </div>
  </section>
    <app-footer></app-footer>
