<!--<div class="menu">
   <div class="toggle"></div>
   <li style="--i:0;">
       <a href="#">
           <img src="../../assets/Untitled-design-40-pfdd0ofccdifqhn0emvk121njq9w43wtjyrqjpkow0.png">
           <h4>Buisness Analytics</h4>
       </a>
   </li>
   <li style="--i:1;">
       <a href="#">
           <img src="../../assets/Untitled-design-39-pfdd0f0yg15kie0nxitac4f1lvk7z4vi6o8vqxymm8.png">
           <h4>Mixed Reality</h4>
       </a>
   </li>
   <li style="--i:2;">
       <a href="#">
           <img src="../../assets/Untitled-design-38-pfdd09dxb0xukq8uugdix5ua1kc0oy945wbyva6znk.png">
           <h4>Artificial Intelligence</h4>
       </a>
   </li>
   <li style="--i:3;">
       <a href="#">
           <img src="../../assets/Untitled-design-37-pfdd03qw60q4n2h1rdxri79ih93termq54f1zmfcow.png">
           <h4>Cloud Computing & Virtualization</h4>
       </a>
   </li>  

</div>-->
<div class="header">
  <h1>
    Master Of Computer Applications
  </h1>
  <h2 style="color: #a0162a; padding: 20px;">Intake: 60 Seats</h2>
</div>
<h4 class="head">Specialization</h4>
<div class="specialization">

  <div class="card bg-dark text-white ">
    <img src="../../assets/Untitled-design-40-pfdd0ofccdifqhn0emvk121njq9w43wtjyrqjpkow0.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">
        Business Analytics</h5>
    </div>
  </div>
  <div class="card bg-dark text-white ">
    <img src="../../assets//Untitled-design-39-pfdd0f0yg15kie0nxitac4f1lvk7z4vi6o8vqxymm8.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">
        Mixed Reality</h5>
    </div>
  </div>
  <div class="card bg-dark text-white ">
    <img src="../../assets/Untitled-design-38-pfdd09dxb0xukq8uugdix5ua1kc0oy945wbyva6znk.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title"> Artificial Intelligence
      </h5>
    </div>
  </div>
  <div class="card bg-dark text-white ">
    <img src="../../assets/Untitled-design-37-pfdd03qw60q4n2h1rdxri79ih93termq54f1zmfcow.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">
        Cloud Computing & Virtualization</h5>
    </div>
  </div>
</div>
<div class="card card-eligility">
  <h5 class="card-header" style="font-size: xx-large; color: #a0162a;">ELIGIBILITY CRITERIA</h5>
  <div class="card-body">
  
    <p class="card-text">Eligibility criteria for admission in first year of MCA as per AICTE process handbook 2021-22 and further order thereof:

      The candidate having passed BCA/ Bachelor Degree in Computer Science Engineering or  equivalent Degree.<br>
      
      <span style="text-align: center; color: gray; font-weight: bolder;">OR</span><br>
      
      The candidate having passed B.Sc./ B.Com./ B.A. with mathematics at 10+2 level or at Graduation level (with additional bridge Courses as per the norms of the concerned University). Obtained at least 50% marks (45% marks in case of candidates belonging to reserved category*) in the qualifying examination.
      
      *Reserve category is hereby elaborated as candidates from SC, ST and Non creamy layer OBC and Non creamy layer MBC, PwD Category only for relaxation in MInimum Academic Qualification.</p>
  </div>
</div>
 <mat-tab-group class="tabs">
  <mat-tab label="STATE OF ART LABORATORIES"> 
    <ul>
      <li>Artificial Intelligence Lab</li>
      <li>Database Lab</li>
      <li>UML Lab</li>
      <li>Object Oriented Programming Lab</li>
      <li>Data Structure Analysis Lab.</li>
      <li>Internet Lab.</li>
      <li>C/C++ Lab</li>
      <li>Cisco CCNA Lab</li>
      <li>Foss Research Lab</li>
      <li>iCarnegie Lab for online courses and tests.</li>
      <li>Data center Lab.</li>
    </ul>
  </mat-tab>
  <mat-tab label="MAJOR EQUIPMENT"> 
    <li>NAO Humanoid</li>
    <li>IBM Blade server- 1</li>
    <li>IBM AIX server- 1</li>
    <li>HP servers- 2</li>
    <li>Microsoft server</li>
    <li>Desktop computers HP make – 550 nos.</li>
    <li>Cisco/D Link Routers and switches and access points for wi fi facility.</li>
    <li>60 Mbps Leased Line (Airtel) through Optical fibre cable.</li>
    <li>100 Mbps Jio Fiber Link </li>

    </mat-tab>
  <mat-tab label="APPLICATION & SYSTEM SOFTWARE’S​"> 
    <ul>
      <li>IBM BlueMix, Watson</li>
    <li>Big Insights, IoT</li>
    <li>Node Red, SPARK
      <li>NAO Robotics, Webot, Choregraphe</li>
      <li>NAOqi SDK</li>
      <li>Google Developers APIs</li>
      <li>IBM Rational Rose, Microsoft Visual studio</li>
      <li>Eclipse, JDK, J Creator, SQL Server 2000</li>
      <li>Windows 10, Ubuntu 16.1, Linux Redhat</li>
      <li>Educational ERP</li>
      <li>Sophos firewall</li>
    </ul>
  </mat-tab>
  <mat-tab label="NJR CLOUD – ON-PREMISE CLOUD">
    <ul>
      Controller:
      <li>3 Units (2X 64-Bit, 8 Core Xeon)</li>
      <li>32 GB RAM, 2 TB Storage</li>
      General – Purpose Computing:
      <li>2 Units (12 Cores X 2 CPUs Xeon)</li>
      <li>256 GB RAM, 4 TB Storage</li>
      Storage:
      <li>2 Units (2X64-Bit, 8 Core Xeon)</li>
      <li>32 GB RAM, 3 X 3TB (9 TB SAS Storage Drive)</li>
      <li>5 X 1 TB SSD</li>

     Switch:
     <li> Units (48 Port, 4 Dual-Personality ports or Auto-Sensing 10/100/1000 BAse-T RJ-45 or mini-GBIC</li>
</ul>

  </mat-tab>
  <mat-tab label="AUGMENTED & VIRTUAL REALITY">
    Alienware Aurora R8
    <li>Intel Core i7 9700K, NVIDIA GeForce RTX 2080 CC with 8GB GDDR6</li>
    <li>32GB RAM, 256 GB SSD + 1TB 7200 RPM SATA 6Gb/s Storage</li>
    EON IBENCH MOBILE
    <li>ZVR display along with ZVR eye ware, Intel Xeon CPU E5-1620</li>
    <li>16 GB DDR3 RAM, 1TB 7200 RPM SATA</li>
    AVR Assets Development Glass PC
    <li>Intel Core i7 8700K, ASUS GTX 1070 CC with 8 GB GDDR6</li>
    <li>64 GB DDR4, WD 500 GB SSD SATA 6Gb/s Storage</li>
    EON HMD (HTC VIVE BE) & AR Mobile (Lenovo Tango)<br>
    Software: EON Studio 8.0 Professional, Unity Education Version, EON XR Creator
  </mat-tab>
</mat-tab-group>
<h1 style="color: #a0162a; text-align: center; padding: 20px; font-size: 50px; border: 1px solid #a0162a; width: 90%; margin: auto;">Our Faculty</h1>
 <section>
    <div class="container">
      <div class="card col-md-3" *ngFor="let i of faculty">
        <div class="content">
            <div class="imgBx">
              <img [src]="i.img">
            </div>
            <div class="contentBx">
              <h3>{{i.name}}<br><span>{{i.post}}</span></h3>
            </div>
          </div>
          <ul class="sci">
            <li style="--i:1">
             <a > <i class="bi bi-envelope-open-fill" aria-hidden="true" ></i></a>
            </li>
          </ul>
        </div>
     
      </div>
  </section>
