<footer class="justify-content-md-center">
    <div class="col col-md-3">
      <img src="../../assets/Techno-Logo-min-1-448x101.png">
      <p>&copy; 2021 Techno NJR. All Rights Reserved</p>
    </div>
    <div class="col-lg-3">
      <h2>Get In Touch: </h2>
      <a type="button" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="bi bi-facebook"></i></a>
      <a type="button" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="bi bi-instagram"></i></a>
      <a type="button" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="bi bi-linkedin"></i></a>
      <a type="button" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="bi bi-youtube"></i></a>
      <a type="button" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="bi bi-twitter"></i></a>
    </div>
    <div class="col col-md-3">
      <h3>Quick Links</h3>
      <ul style="font-size: 15px;">
        <li>About Us</li>
        <li>Department</li>
        <li>Research</li>
        <li> Student Corner</li> 
        <li>Contact Us</li>
      </ul>
    </div>
</footer>                                                     


