<!--<div class="menu">
   <div class="toggle"></div>
   <li style="--i:0;">
       <a href="#">
           <img src="../../assets/Untitled-design-40-pfdd0ofccdifqhn0emvk121njq9w43wtjyrqjpkow0.png">
           <h4>Buisness Analytics</h4>
       </a>
   </li>
   <li style="--i:1;">
       <a href="#">
           <img src="../../assets/Untitled-design-39-pfdd0f0yg15kie0nxitac4f1lvk7z4vi6o8vqxymm8.png">
           <h4>Mixed Reality</h4>
       </a>
   </li>
   <li style="--i:2;">
       <a href="#">
           <img src="../../assets/Untitled-design-38-pfdd09dxb0xukq8uugdix5ua1kc0oy945wbyva6znk.png">
           <h4>Artificial Intelligence</h4>
       </a>
   </li>
   <li style="--i:3;">
       <a href="#">
           <img src="../../assets/Untitled-design-37-pfdd03qw60q4n2h1rdxri79ih93termq54f1zmfcow.png">
           <h4>Cloud Computing & Virtualization</h4>
       </a>
   </li>  

</div>-->
<div class="header">
  <h1>
    Computer Science & Engineering
  </h1>
  <h2 style="color: #a0162a; padding: 20px;">Intake: 120 Seats</h2>
</div>
<h4 class="head">Specialization</h4>
<div class="specialization">

  <div class="card bg-dark text-white ">
    <img src="../../assets/Untitled-design-40-pfdd0ofccdifqhn0emvk121njq9w43wtjyrqjpkow0.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">
        Business Analytics</h5>
    </div>
  </div>
  <div class="card bg-dark text-white ">
    <img src="../../assets//Untitled-design-39-pfdd0f0yg15kie0nxitac4f1lvk7z4vi6o8vqxymm8.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">
        Mixed Reality</h5>
    </div>
  </div>
  <div class="card bg-dark text-white ">
    <img src="../../assets/Untitled-design-38-pfdd09dxb0xukq8uugdix5ua1kc0oy945wbyva6znk.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title"> Artificial Intelligence
      </h5>
    </div>
  </div>
  <div class="card bg-dark text-white ">
    <img src="../../assets/Untitled-design-37-pfdd03qw60q4n2h1rdxri79ih93termq54f1zmfcow.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">
        Cloud Computing & Virtualization</h5>
    </div>
  </div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          VISION
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">To increase students’ learning of fundamentals of programming and latest technologies 
          through industry-aligned project-based learning transforming
           students to be good IT Professionals leading to innovation and incubation of new ideas.</div>
      </div>
    </div>
   
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
          MISSION
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-bordered border-dark">
            <tr>
              <th>M1:</th>
              <td>To create experimental learning through solving problems of Government, Society, Smart Cities, Industry and other entities.</td>
            </tr>
            <tr>
             <th>M2:</th>
             <td>To teach the latest technologies to the students as beyond the syllabus activity so that they are updated and industry ready.</td>
           </tr>
           <tr>
             <th>M3:</th>
             <td>To enable engineering students understand industry-aligned technologies and learn to find solutions from their early engineering days and this is the only way to produce globally relevant engineers solving real-life problems applying current technologies.</td>
           </tr>
           <tr>
             <th>M4:</th>
             <td>To enable students to generate projects through problem faced by and requirement of Smart cities, industry, Government and other entities whereby those outlined problem statements are to be studied deeply by a group of faculty members to convert them into real-time project format.</td>
           </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          PROGRAM OUTCOMES (POs)
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-bordered border-dark">
            <tr>
              <th>1</th>
              <th>Engineering knowledge:</th>
              <td>Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</td>
            </tr>
            <tr>
              <th>2</th>
             <th>Problem analysis:</th>
             <td>Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</td>
           </tr>
           <tr>
            <th>3</th>
             <th>	Design/development of solutions:</th>
             <td>Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</td>
           </tr>
           <tr>
             <th>4</th>
             <th>Conduct investigations of complex problems:</th>
             <td>Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</td>
           </tr>
           <tr>
            <th>5</th>
            <th>Modern tool usage:</th>
            <td>Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with and understanding of the limitations.</td>
          </tr>
          <tr>
            <th>6</th>
            <th>The engineer and society:</th>
            <td>Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</td>
          </tr>
          <tr>
            <th>7</th>
            <th>Environment and sustainability:</th>
            <td>Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</td>
          </tr>
          <tr>
            <th>8</th>
            <th>Ethics:</th>
            <td>Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.</td>
          </tr>
          <tr>
            <th>9</th>
            <th>Individual and team work:</th>
            <td>Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</td>
          </tr>
          <tr>
            <th>10</th>
            <th>Communication:</th>
            <td>Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</td>
          </tr>
          <tr>
            <th>11</th>
            <th>Project management and finance:</th>
            <td>Demonstrate knowledge and understanding of the engineering and management principles and apply these to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.</td>
          </tr>
          <tr>
            <th>12</th>
            <th>Life-long learning:</th>
            <td>Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</td>
          </tr>
           </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseTwo">
          PROGRAM SPECIFIC OUTCOMES (PSOs)
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-bordered border-dark">
           <tr>
             <th>PSO1:</th>
             <td>To be aware of and initiate some work on future technologies and new developments which may impact future IT jobs.</td>
           </tr>
           <tr>
            <th>PSO2:</th>
            <td>Hands-on work on future technologies and project based learning.</td>
          </tr>
          <tr>
            <th>PSO3:</th>
            <td>Get exposure to the IT Industry work culture.</td>
          </tr>
          </table>
        </div>
      </div>
      
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
          PROGRAM EDUCATIONAL OBJECTIVES (PEOs)

        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <table class="table table-bordered border-dark">
           <tr>
             <th>PEOs 1</th>
             <td>To provide an in-depth understanding of the fundamentals of Computer Science and create a foundation for lifelong learning to facilitate a progressive career in the IT Industry, as an entrepreneur and in pursuit of higher studies.</td>
           </tr>
           <tr>
            <th>PEOs 2</th>
            <td>To equip the students with technical and analytical skills to develop innovative solutions to complex real-life problems using existing and novel technologies. To equip the students with good communication and interpersonal skills, inter-disciplinary teamwork and leadership skills to enable them to fulfil professional responsibilities.</td>
          </tr>
          <tr>
            <th>PEOs 3</th>
            <td>To expose them to various contemporary issues which will enable them to become ethical and responsible towards themselves, co-workers, Society and the Nation.</td>
          </tr>
          <tr>
            <th>PEOs 4</th>
            <td>To make the student’s industry ready by imparting education related to the latest technologies so that they can grab future IT jobs</td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseOne">
          COURSE OUTCOMES (COs)
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body button">
          <button>2020-21</button>
          <button>2019-20</button>
          <button>2018-19</button>
          <button>2017-18</button>
        </div>
      </div>
    </div>
 </div>
 <mat-tab-group class="tabs">
  <mat-tab label="STATE OF ART LABORATORIES"> 
    <ul>
      <li>Artificial Intelligence Lab</li>
      <li>Database Lab</li>
      <li>UML Lab</li>
      <li>Object Oriented Programming Lab</li>
      <li>Data Structure Analysis Lab.</li>
      <li>Internet Lab.</li>
      <li>C/C++ Lab</li>
      <li>Cisco CCNA Lab</li>
      <li>Foss Research Lab</li>
      <li>iCarnegie Lab for online courses and tests.</li>
      <li>Data center Lab.</li>
    </ul>
  </mat-tab>
  <mat-tab label="MAJOR EQUIPMENT"> 
    <li>NAO Humanoid</li>
    <li>IBM Blade server- 1</li>
    <li>IBM AIX server- 1</li>
    <li>HP servers- 2</li>
    <li>Microsoft server</li>
    <li>Desktop computers HP make – 550 nos.</li>
    <li>Cisco/D Link Routers and switches and access points for wi fi facility.</li>
    <li>60 Mbps Leased Line (Airtel) through Optical fibre cable.</li>
    <li>100 Mbps Jio Fiber Link </li>

    </mat-tab>
  <mat-tab label="APPLICATION & SYSTEM SOFTWARE’S​"> 
    <ul>
      <li>IBM BlueMix, Watson</li>
    <li>Big Insights, IoT</li>
    <li>Node Red, SPARK
      <li>NAO Robotics, Webot, Choregraphe</li>
      <li>NAOqi SDK</li>
      <li>Google Developers APIs</li>
      <li>IBM Rational Rose, Microsoft Visual studio</li>
      <li>Eclipse, JDK, J Creator, SQL Server 2000</li>
      <li>Windows 10, Ubuntu 16.1, Linux Redhat</li>
      <li>Educational ERP</li>
      <li>Sophos firewall</li>
    </ul>
  </mat-tab>
  <mat-tab label="NJR CLOUD – ON-PREMISE CLOUD">
  <ul>
      Controller:
      <li>3 Units (2X 64-Bit, 8 Core Xeon)</li>
      <li>32 GB RAM, 2 TB Storage</li>
      General – Purpose Computing:
      <li>2 Units (12 Cores X 2 CPUs Xeon)</li>
      <li>256 GB RAM, 4 TB Storage</li>
      Storage:
      <li>2 Units (2X64-Bit, 8 Core Xeon)</li>
      <li>32 GB RAM, 3 X 3TB (9 TB SAS Storage Drive)</li>
      <li>5 X 1 TB SSD</li>

     Switch:
     <li> Units (48 Port, 4 Dual-Personality ports or Auto-Sensing 10/100/1000 BAse-T RJ-45 or mini-GBIC</li>
</ul>

  </mat-tab>
  <mat-tab label="AUGMENTED & VIRTUAL REALITY">
    Alienware Aurora R8
    <li>Intel Core i7 9700K, NVIDIA GeForce RTX 2080 CC with 8GB GDDR6</li>
    <li>32GB RAM, 256 GB SSD + 1TB 7200 RPM SATA 6Gb/s Storage</li>
    EON IBENCH MOBILE
    <li>ZVR display along with ZVR eye ware, Intel Xeon CPU E5-1620</li>
    <li>16 GB DDR3 RAM, 1TB 7200 RPM SATA</li>
    AVR Assets Development Glass PC
    <li>Intel Core i7 8700K, ASUS GTX 1070 CC with 8 GB GDDR6</li>
    <li>64 GB DDR4, WD 500 GB SSD SATA 6Gb/s Storage</li>
    EON HMD (HTC VIVE BE) & AR Mobile (Lenovo Tango)<br>
    Software: EON Studio 8.0 Professional, Unity Education Version, EON XR Creator
  </mat-tab>
</mat-tab-group>
<h1 style="color: #a0162a; text-align: center; padding: 20px; font-size: 50px; border: 1px solid #a0162a; width: 90%; margin: auto;">Our Faculty</h1>
 <section>
    <div class="container">
      <div class="card col-md-3" *ngFor="let i of faculty">
        <div class="content">
            <div class="imgBx">
              <img [src]="i.img">
            </div>
            <div class="contentBx">
              <h3>{{i.name}}<br><span>{{i.post}}</span></h3>
            </div>
          </div>
          <ul class="sci">
            <li style="--i:1">
             <a > <i class="bi bi-envelope-open-fill" aria-hidden="true" ></i></a>
            </li>
          </ul>
        </div>
     
      </div>
  </section>
 
  <app-footer></app-footer>