<div class="jumbotron" aria-hidden="true">
   <h1> About Techno India NJR</h1>
</div>
  <mat-tab-group class="tabs justify-content-center">
    <mat-tab label="ABOUT TECHNO NJR"> 
      “Education educates a man, but good education creates a man” is the belief of NJR Foundation which established Techno India NJR Institute of Technology in the year 2008.NJR Foundation, a registered trust, was established in the year 2003 in memory of Shri Navdeep Ranawat and Shri Jitendra Ranawat by Mrs. Meera Ranawat and Mr. Raj Shekhar Vyas, an alumnus of BITS, Pilani having more than 25 years of experience with Tata group and as Techno entrepreneur. Nine more highly qualified trustees with vast experience in the field of law, administration, finance research papers writing and business were inducted subsequently.Techno NJR was set up with a vision of providing international level engineering education to students of Udaipur so that they do not have to travel to Banglore, Pune, Jaipur for good engineering education.
     </mat-tab>
    <mat-tab label="VISION"> To provide highly affordable world-class engineering education to the students of this region.
       </mat-tab>
    <mat-tab label="MISSION"> 
      <ol>
        <li>To increase industry partnerships and industry alignment so that students are industry-ready by the time they complete the course. This will include outcome-based education, industry certifications and courses, Project-based learning, internships, participation in Hackathons etc. Students will be provided with the opportunity to work in the industry in 7th and 8th semester (on the lines of Practice School at BITS).</li>
        <li>To focus on FDP’s, Research papers and patents by faculty, faculty visits to universities in India and abroad for joint research and projects. the college will substantially finance these activities. Academic leave will be granted to faculty pursuing PhD when required so that most faculty complete their PhD in next 5 years.</li>
        <li>Techno India NJR has been founded by 2 Founder Trustees – one a housewife who lost her only child and husband and another a BITS Pilani graduate. The institute therefore will continue to emphasize Philanthropic activities in memory of departed souls and implement best practices of eminent Institutes like BITS.</li>
        <li>In addition to 5% seats allocated by the Institute under the Tuition Fees Waiver Scheme (TFWS), Institute will continue to increase its allocation for Fee’s concessions (under various heads up to 100% fees waiver) from the present level of around 10% of the revenue (between 40-50 lakh per annum) to around 25% of revenue in next 10years so that bright students from needy families get a chance to undertake engineering education.</li>
        <li>To invest 80% of its surplus (Income minus expenditure) in upgradation of its infrastructure for implementing new technologies.</li>
        <li>To create more incubation centres within the campus from 2 at present to 5 in next 5 years to promote Start-up culture in the institute. The institute will also invest up to 10% in the equity of the institute Start-ups.</li>
      </ol> 
    </mat-tab>
  <mat-tab label="STRATEGIC VISION">
    Techno India NJR has been founded by 2 Founder Trustees – one a housewife who lost her only child and husband and another a BITS Pilani graduate. The college therefore will continue to emphasize Philanthropic activities in memory of departed souls and implement Best practices of eminent Institutes like BITS.
    <ol>
      <li>In addition to 5% seats allocated by the Institute under the Tuition Fees Waiver Scheme( TFWS), the Institute will continue to increase its allocation for Fees concessions under various heads up to 100% fees waiver from the present level of around 10% of the revenue ( between 40-50 lakh per annum) to around 25% of revenue in next 10 years so that bright students from needy families get a chance to undertake engineering education.</li>
      <li>Institute has been investing 80% of its surplus ( Income minus expenditure) in the up-gradation of its infrastructure for implementing new technologies and will continue to do so in the future. The college will create more incubation centers within the campus from 2 at present to 5 in the next 5 years to promote Startup culture in the college. The college will also invest up to 10% in the equity of college startups.</li>
      <li>As the course curriculum is designed by the University which generally lags behind advances in technology, the college will continue to teach new relevant technologies outside the curriculum and devote at least 25% of student’s time outside the prescribed curriculum.</li>
     <li>Focus in the next few years will be to increase industry partnerships and industry alignment so that students are industry-ready by the time they complete the course. This will include industry certifications and courses, Project-based learning, internships, participation in Hackathons, etc. Students will be provided with the opportunity to work in the industry in the 7th and 8th semester ( on the lines of Practice School at BITS)</li>
      <li>Faculty is the biggest strength of this college. There will be more focus on FDP’s, Research papers and patents by faculty, faculty visits to universities in India and abroad for joint research and projects. the college will substantially finance these activities. Academic leave will be granted to faculty pursuing Ph.D. when required so that most faculty complete their Ph.D. in the next 5 years.</li>
    
    
    </ol>
  </mat-tab>
  <mat-tab label="FOUNDER’S MESSAGE">
    <div class="founder">
      Greatest reward as founders of Techno India NJR has been steady progress the college has made in establishing itself as one of the finest institutions of learning in Rajasthan . Our next goal will be to establish its presence on national level. We feel proud of the achievements of our college through collective efforts of our faculty and students and they deserve our heartfelt gratitude.<br>

      Techno India NJR has created an exciting but disciplined student-centric environment of academic excellence reflected in academic results and great placements year after year. Our engineering program links knowledge to practice and skill from the very beginning which makes it easy for students to transition to a successful working professional in later life. In addition to maintaining the high academic standards, most students go through industry certifications and internships to give them real-life feel of technology.
      <img src="../../assets/founder.jpg">
    </div>
  </mat-tab>
  </mat-tab-group>
  <div class="justify-content-md-center" class="section">
    <div class="row justify-content-md-center">
        <div class="col-lg-3 sec">
            <img src="../../assets/164429-200.png"> 
            <h3 class="card-title">Accredition</h3>
            <a routerLink="../accredition"><button>Learn More</button></a>
         </div>
        <div class="col-lg-3 sec">
            <img src="../../assets/education.png">
            <h3>Courses Offered</h3>
            <a><button>Learn More</button></a>
        </div>
        <div class="col-lg-3 sec">
            <img src="../../assets/2018-30-8-18-34-13_PP.jpg">
            <h3 class="card-title">Campus At Glance</h3>

            <a routerLink="../campus"><button>Learn More</button></a>
        </div>
           
    </div>
  </div>
  <mat-tab-group class="tabs">
    <mat-tab label="FOUNDER TRUSTEES"> 
       <div class="trustees">
        <div class="card mb-1">
          <img src="../../assets/Meera-Ranawat.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mrs. Meera Ranawat</h5>
            <p class="card-text">Chairperson & Trustee</p>
       
          </div>
        </div>
        <div class="card mb-1">
          <img src="../../assets/R-S-Vyas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mr. R.S. Vyas</h5>
            <p class="card-text">Managing Trustee</p>
       
          </div>
        </div>
       </div>  
    </mat-tab>
    <mat-tab label="TRUSTEES">
      <table class="table">
        <tbody>
          <tr>
            
            <td>Arvind Mayaram I.A.S.</td>
            <td>Justice (Retd.) S.S.Vyas</td>
            <td>Shyamoli Roy</td>
          
          </tr>
          <tr>
            <td>Pramod Patni F.C.A</td>
            <td>Yadvendra Singh I.F.S.</td>
            <td>A. K. Biswas</td>
          </tr>
          <tr>
            <td>Vikram Singh</td>
            <td>A. K. Roy</td>
            <td>Ratna Biswas</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="GOVERNING COUNCIL"> 
      <table class="table" >
        <tbody>
          <tr>
            
            <td>Mr. R.S. Vyas</td>
            <td>Prof. Shrihari Prakash Honward</td>
            <td>Prof. Prasun Chakrabarti</td>
          
          </tr>
          <tr>
            <td>Prof. N.N. Sharma</td>
            <td>Mr. Lalit Yagnik</td>
            <td>Prof. Pradeep Chhawchharia</td>
          </tr>
          <tr>
            <td>Prof. Sunil Rai</td>
            <td>Prof. Pankaj Kumar Porwal</td>
            <td>Prof A.K. Dwivedi – RTU Nominee</td>
          </tr>
          <tr>
            <td></td>
            <td>A. K. Roy</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="KEY PEOPLE" > 
      Techno NJR is led by a group of extremely talented and powerful academic leaders. Besides having requisite professional education from the best institutions in India and abroad, they possess leadership skills and share a common vision and mission with NJR Foundation. Their shared leadership has converted Techno NJR into a unique education destination for students.
       <div class="row " >
        <div class="card col-md-3" *ngFor="let key of keyPeople">
          <div class="">
            <img [src]="key.img" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">{{key.name}}</h5>
              <p class="card-text">{{key.post}}</p>
              <p class="card-text">{{key.education}}</p>
          </div>
         </div>
        </div>


       </div>
       <div class="key">
        <h3>Organization Structure</h3><br>
        <img src="../../assets/organization-structure-min-2-1-2048x1311.jpg">
       </div>
    </mat-tab>
  </mat-tab-group>
  <h2 style="text-align: center;">Visiting Techno NJR Knowledge campus</h2>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="../../assets/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="../../assets/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="../../assets/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="../../assets/5.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-footer></app-footer>
<router-outlet></router-outlet>