<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1">Policies</h1>
      <hr>
    </div>
  </div>

  <ul>
      <li>FACULTY WELFARE POLICY <a>Click Here to Download</a></li>
      <li>STUDENT WELFARE POLICY<a>Click Here to Download</a> </li>
      <li>POLICY FOR PERSON WITH DISABILITIES<a>Click Here to Download</a> </li>
       <li>ENVIORNMENTAL POLICY <a>Click Here to Download</a> </li>
       <li>GREEN CAMPUS POLICY<a>Click Here to Download</a> </li>
       <li>ENERGY POLICY<a>Click Here to Download</a> </li>
       <li>SERVICE RULES – EMPLOYEES<a>Click Here to Download</a> </li>
       <li>GOVERNING COUNCIL <a>Click Here to Download</a> </li>
       <li>GOVERNING COUNCIL – MoM<a>Click Here to Download</a> </li>
       <li>HOSTEL RULES<a>Click Here to Download</a> </li>
  </ul>
