:root {
    --kttPrimaryColor: #007bff;
}


.ktt10-btn{    
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex !important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
    position: fixed !important;
    background-color: var(--kttPrimaryColor) !important;
    color: #fff !important;
    width: 60px !important;
    height: 60px !important;
    -webkit-box-align: center!important;
    align-items: center!important;
    border: 0 !important;
    border-radius: 50% !important;
    bottom: 20px !important;
    right: 20px !important;
    outline: none !important;
    cursor: pointer !important;
    z-index: 8888 !important;
    padding: 0!important;
}

.ktt10-btn img{
    height: 70% !important;
    width: 70% !important;
    object-fit: contain !important;
}

.ktt10-btn:hover{
    transform: scale(1.1) !important;
    transition: all ease 0.2s !important;
}

.ktt10-flt{
    background-color: #fff !important;
    position: fixed !important;
    right: 10px !important;
    bottom: 90px !important;
    z-index: 9999 !important;

    overflow: hidden !important;
    max-width: 100% !important;    
    max-height: 100% !important;
    border-radius: 18px !important;
    
    /*width: 1px;
    height: 1px;*/
    opacity: 0 !important;

    width: 370px !important;
    height: 600px !important;
    transform: translate(120%, 110%) !important;

    transition: all ease 0.5s !important;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%) !important;
}

.ktt10-flt2{
    /*width: 370px;
    height: 600px;*/
    transform: translate(0, 0) !important;
    opacity: 1 !important;
}

.ktt10-close{
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    text-align: center !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffffffdd !important;
}

.ktt10-close:hover{
    background-color: #ddd !important;
}

.ktt10-iframe{
    border: 0 !important;
    height: 100% !important;
    width: 100% !important;
    min-height: 300px !important;
}



@media (max-width: 576px){

    .ktt10-flt{
        left: 0px !important;
        top: 0px !important;
        right: 0px !important;
        bottom: 0px !important;        
        height: 100vh !important;
        width: 100% !important;
        transition: all ease-out 0.2s !important;
    }

    .ktt10-flt2{
        
    }

}

