/*.menu h4{
    text-align: center;
}
.menu{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu li{
    position: absolute;
    list-style: none;
}
.toggle{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    border-radius: 50%;
    font-size: 2em;

}*/
.header h1{
    color:black;
    animation: hideMe 3s forwards;
    font-size: 60px;
    
    text-shadow: 25px 25px 20px gray;
    margin-top: 120px;
}

@keyframes hideMe{
    0%{
        opacity: 0;
    }
    99.99%{
        opacity: 1;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
    }

}
.header{
    text-align: center;
    background:transparent;
    height: 200px;
}
p{
    width: 80%;
    margin: auto;
    
    justify-content: center;
    align-items: center;
    line-height: 2.5em;
    letter-spacing: 0.6px;
    font-family: 'Segoe UI', 'Roboto';
    overflow-wrap: break-word;
}
.accordion-button:hover,.accordion-header:hover ,.accordion-button:active,.accordion-header:active{
    background-color: #a0162a;
    color: white;
   
}
.accordion-button,.accordion-body{
    padding: 25px;
    margin-bottom: 15px;
}
.accordion-item{
    width: 90%;
    
    margin: auto;
    
    box-shadow: 0 6px 7px rgba(0,0,0,0.15);
    border: none;
}

.accordion-button:active{
    border: #a0162a;
}
/*section{
    position: relative;
}
section::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    
}*/
section{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
  
}
section::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.container .card{
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 15px;
    min-height: 350px;
}
.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
    
}
.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
.container .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    
}
.container .card .content .contentBx h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci{
    position: absolute;
    bottom: 10px;
    display: flex;
}
.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s *  var(--i));
    align-items: center;
    padding-right:28px
}
.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci li a{
    color:#a0162a;
    font-size: 24px;
    
}
.tabs,table{
    width: 90%;
    margin: auto;
    padding: 100px;
    justify-content: center;
    align-items: center;
    line-height: 2.5em;
    letter-spacing: 0.6px;
    font-family: 'Segoe UI', 'Roboto';
    overflow-wrap: break-word;
}
table td,th{
   border: 1px solid gray; 
   padding: 20px;
   max-width: fit-content;
}
.specialization{
    display: flex;
    max-width: 90%;
    margin: auto;

}
.card{
   border: none;
   margin: 15px;
   box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.specialization h5{
    font-size: medium;
    color:lightpink
}
.head{
    color: #a0162a;
    width: 90%;
    margin: auto;
    font-size: xx-large;
    margin: 50px;
}

