<nav class="navbar navbar-expand-lg class" style="color: #ccc;">
  <div class="container-fluid">
    <div id="logo">
      <img src="../assets/Techno-Logo-min-1-448x101.png">
    </div>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink=''>Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='blog'>Blog</a>
        </li>

        <li class=" nav-item dropdown">
          <a class="nav-link dropdown-toggle  fade-up" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="about">About<b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
              <li><a href="#" class="dropdown-item" routerLink='about' >About</a></li>                                                       
              <li class="dropdown-submenu dropdown-item">
                  <a href="#" class="dropdown-toggle dropdown-item-end fade-down" routerLink="coc" data-toggle="dropdown">Governance</a>
                  <!-- Level 2 -->
                  <ul class="dropdown-menu">
                      <li><a href="#" class="dropdown-item" routerLink="coc">Code Of Conduct</a></li>                                    
                      <li>
                          <a href="#" class="dropdown-item" data-toggle="dropdown" routerLink="iqrc">Internal Quality Assurance Cell (IQAC) Committee</a>
                      </li>
                      <li><a href="#" class="dropdown-item" routerLink="committee">Committees</a></li>
                      <li><a href="#" class="dropdown-item" routerLink="policies">Policies</a></li>
                  </ul>
                  </li>
              </ul>
            </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fade-up" routerLink="cse" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#" routerLink="cse">Computer Science and Engineering</a></li>
            <li><a class="dropdown-item" href="#" routerLink="ece">Electronics and Communication Engineering</a></li>
            <li><a class="dropdown-item" href="#" routerLink="ee">Electrical Engeering</a></li>
            <li><a class="dropdown-item" href="#" routerLink="me">Mechanical Engeering</a></li>
            <li><a class="dropdown-item" href="#" routerLink="ce">Civil Engeering</a></li>
            <li><a class="dropdown-item" href="#" routerLink="masterCA">Master of Computer Applications</a></li>
            <li><a class="dropdown-item" href="#" routerLink="sh">Applied Science And Humanities</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fade-up" routerLink="trainings" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Training & Placements
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#" routerLink="trainings">Trainings</a></li>
            <li><a class="dropdown-item" href="#" routerLink="placement">Placement Cell</a></li>
            <li><a class="dropdown-item" href="#" routerLink="industry">Industry MoUs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fade-up" routerLink="lifeAtTechno" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Student Section
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#" routerLink="club">Student Clubs</a></li>
            <li><a class="dropdown-item" href="#" routerLink="lifeAtTechno">Life At Techno</a></li>
            <li class="dropdown-submenu dropdown-item">
              <a href="#" class="dropdown-toggle dropdown-item-end fade-down" data-toggle="dropdown" routerLink="#">Events</a>
              <!-- Level 2 -->
              <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item" routerLink="seminar">Seminars/Webinars</a></li>
              </ul>
              </li>
            <li><a class="dropdown-item" href="#" routerLink="AcademicCalender">Academic Calender</a></li>
            <li ><a class="dropdown-item" href="#" routerLink="notice">Notices</a></li>
            <li class="dropdown-submenu dropdown-item">
              <a href="#" class="dropdown-toggle dropdown-item-end fade-down" data-toggle="dropdown">Downloads</a>
              <!-- Level 2 -->
              <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item" routerLink="seminar">Project Synopsis Format</a></li>
              </ul>
            </li><li><a class="dropdown-item" href="#" routerLink="alumni">Alumni</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="contact">Contact Us</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#" routerLink="about">Code Of Conduct</a></li>
                  <li><a class="dropdown-item" href="#">Internal Quality Assurance Cell (IQAC) Committee</a></li>
                  <li><a class="dropdown-item" href="#">Committee</a></li>
                  <li><a class="dropdown-item" href="#">Policies</a></li>
                </ul>-->