<div class="jumbotron">
    <h1>Life At Techno</h1>
</div>
<mat-tab-group class="tabs">
    <mat-tab label="STUDENT LIFE & ACTIVITIES"> 
       <h1>Student Life & Activity</h1>
       <p>
        It is not academics all the time at Techno NJR campus. Year round there are seminars, workshops, presentations , 
        debate and other events like Tech Jalsa, Phoenix and Sports week which are organised with active participation of student volunteers. 
        This inculcates team spirit and leadership qualities in students. 
        Most festivals like Holi, Diwali, Garba etc are celebrated at campus to bring in a sense of brotherhood among students.
       </p>
       <h1>Students pursue their hobbies through many international clubs functioning at campus :</h1>
       <div>
        <img src="../../assets/lifeAtTechno/toastmasters.jpg" class="col-md-3">
        <p class="col-md-8">Techno Ariston, Toastmaster Club formed by students of Techno NJR is one of the two Toastmaster clubs in Udaipur- 
            other being at IIM, Udaipur. There are 35 active members of the club who organise regular meetings  which help them develop 
            confidence and presentation skills. Members of the club have participated at district and regional level Toastmaster club meetings.</p>
    </div>
       <div>
           <img src="../../assets/lifeAtTechno/aiesec.jpg" class="col-md-3">
           <p class="col-md-8">Techno NJR is an AIESEC partner. AIESEC is an international non-governmental not-for-profit organization that provides 
               young people with leadership development and cross-cultural global internship and volunteer exchange experiences across the globe, 
               with a focus to empower young people so they can make a positive impact on society. The AIESEC network includes over 
               100,000 members in 126 countries and territories. It is the largest youth-run organization in the world.</p>
       </div>
       <div>
        <img src="../../assets/lifeAtTechno/ieee.png" class="col-md-3">
        <p class="col-md-8"> Techno NJR has one of the biggest IEEE-CS students chapter in Rajasthan with 65 members. Chapter keeps on organising various 
            conferences, workshops, seminars and has been host to Presidents of IEEE Computer Society. 
            Two students have already won best student prize of US$ 1000 each from IEEE Upsilon pi Epsilon.</p>
    </div>

    <div>
        <img src="../../assets/lifeAtTechno/music.jpg" class="col-md-3">
        <p class="col-md-8">Techno NJR has its own Rock Band G.A.M. and an active music club. 
            There is a dedicated Music Room for these activities and band has earned accolades by performing at various events.</p>
    </div>
    </mat-tab>
    <mat-tab label="EXTRACURRICULAR ACTIVITIES"> 
        Extracurricular activities are integral part of holistic development of students. Every year many students participate in Technical and Cultural festivals in IITs, NITs, and other renowned institutions. Techno NJR also organizes several such festivals every year.

        <h2>Tech Jalsa:</h2>
        
        It is annual technical festival of Techno NJR where students get a chance to showcase their technical prowess in fields like Robotics, Model Making, Bridge Making, Paper Presentation etc
        
        <h2>Farewell Party:</h2>
        
        Academic year at Techno NJR ends with a farewell party to outgoing batch wishing them a prosperous and successful career.
        
        <h2>Phoenix:</h2>
        Each year cultural events at Techno NJR start with Phoenix where Mr. and Ms. Fresher are chosen from the incoming batch.
        
        <h2>Sports Activity:</h2>
        
        Sports week is organized every year where teams from various branches compete in various games likes Sports Activity Cricket, Football, Basketball, Volleyball, Badminton, Table Tennis & many other indoor and fun games.
  
      </mat-tab>
    <mat-tab label="ACADEMIC EXCELLENCE"> 
     <p>Academics occupy top position in the scheme of education at Techno NJR. It is one of the few colleges in RTU 
         which maintain around 90% pass in all semester results. 
         Techno NJR has found place in RTU Merit list from its first batch onwards.</p>
         <img src="../../assets/lifeAtTechno/Untitled-presentation.jpg" style="align-items: center; justify-content: center;">
    </mat-tab>

  </mat-tab-group>
