.tabs{
    width: 90%;
    margin: auto;
    padding: 100px;
    justify-content: center;
    align-items: center;
    line-height: 2.5em;
    letter-spacing: 0.6px;
    font-family: 'Segoe UI', 'Roboto';
    overflow-wrap: break-word;
}
.tabs div{
    display: flex;
    margin: 20px;
}
.tabs img{
    
    text-align: center;
}
.jumbotron{
    width: 100%;
    height: 200px;
    background: black;
    text-align: center;
        font-weight: 700;
        text-align: center;
        font-size: 40px;
        font-family: Hack, sans-serif;
        text-transform: uppercase;
        background: linear-gradient(90deg, #000, #fff, #000);
        letter-spacing: 5px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        background-size: 80%;
        animation: shine 5s linear infinite;
        position: relative;
}
.jumbotron h1{
    font-size: 70px;
    padding-top: 50px;
}