
<div class="jumbotron" aria-hidden="true">
    <h1>Placement Cell</h1>
 </div>
 <h1 style="text-align: center; margin: 30px; font-weight: bolder; text-decoration:underline 4px solid #a0162a;">OUR RECRUITERS</h1>
 <div style="display: flex; align-items: center; justify-content: center;">
    <div *ngFor="let i of RECRUITERS" >
        <img [src]="i" style="width: 100px; height: 50px; margin: 30px; ">
    </div>
 </div>
 <div class="page">
     
    <div class="col-md-8" style="margin-right: 30px;" >
        <h2>About</h2>
        <p>The Training and Placement Cell at Techno NJR operates round the year facilitating the process of campus placement of its 
            students by collaborating with leading organizations and institutes in setting up of internships and training programs. It 
            serves as an interface between the students and the corporate world that liaisons with various companies, organizes talks and 
            seminars, and provides internship opportunities and conducts campus recruitment activities.
        <br>
        The Training & Placement Office provides the infra-structural facilities to conduct group discussions and interviews; computer labs 
        for conducting tests; smart rooms with public addressing system; alongwith catering to other logistics.</p>
        <h2>Objectives</h2>
        <ul>
        <li>To develop a Career Resource Cell in all departments that assists students in developing their academic and career interests through 
            individual counselling and group sessions.</li>
        <li>To coordinate with faculty members to integrate Project Work/ Summer Training/internship programs with the academic curriculum.</li>
        <li>To act as a link between students, alumni and the corporate organisations.</li>
        <li>To enhance skill sets of students to meet the expectations of the industry.</li>
        <li>To conduct Entrepreneurship Awareness Programs for final and pre-final year students.</li>
        <li>To conduct Industry Interaction Programs inviting eminent achievers from industry and academic to guide, motivate and interact with students.</li>
        <li>To act as a Catalyst in reducing unemployment.</li>
        </ul>
    </div>
    <aside class="col-md-2">
        <h2>Placements</h2>
        <ul>
            <li>Placements 2021-22</li>
            <li>Placements 2020-21</li>
            <li>Placements 2019-20</li>
            <li>Placements 2018-19</li>
        </ul>
        <h2>TPO Team</h2>
        <p><span>Mr. Yogendra Singh Solanki</span></p><br>
        <p><span>Head,</span>Training & Placement</p><br>
        <p><span>Phone: </span>+91-8696932727</p><br>
    </aside>
</div>