<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1">Code Of Conduct</h1>
      <hr>
    </div>
</div>
<h4>COMMITTEE FOR STUDENTS:</h4>
<table class="table">
    <tbody>
      <tr>
        
        <td>Principal</td>
        <td>Prof Pankaj Kumar Porwal</td>
      
      </tr>
      <tr>
        <td>All class -co-ordinators (1st Year to final year and Interns)</td>
        <td></td>
      </tr>
      <tr>
        <td>Warden</td>
        <td>Mr Abhishek Sharma</td>
      </tr>
    </tbody>
  </table>
  <h4>COMMITTEE FOR FACULTIES:</h4>
<table class="table">
    <tbody>
      <tr>
        
        <td>Provost</td>
        <td>Prof Prasun Chakrabarti</td>
      
      </tr>
      <tr>
        <td>Member</td>
        <td>Prof Jitendra Shreemali</td>
      </tr>
      <tr>
        <td>Member</td>
        <td>Prof Yasmin Ali</td>
      </tr>
      <tr>
        <td>Member</td>
        <td>Dr Sangeeta Choudhary</td>
      </tr>
      <tr>
        <td>Member</td>
        <td>Mr Gaurav Kumawat</td>
      </tr>
    </tbody>
  </table>
  <h4>COMMITTEE FOR NON-TEACHING AND SUPPORT STAFF :</h4>
<table class="table">
    <tbody>
      <tr>
        
        <td>Principal</td>
        <td>Prof Pankaj Kumar Porwal</td>
      
      </tr>
      <tr>
        <td>Member</td>
        <td>Mr Rajendra Singh Chouhan</td>
      </tr>
      <tr>
        <td>Member</td>
        <td>Mr Neeraj Pandya</td>
      </tr>
    </tbody>
  </table>
