<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1">Committee</h1>
      <hr>
    </div>
  </div>
<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Commitees</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> COMMITTEE</th>
            <td><a href="#">Click Here</a></td>
          </tr>
          <tr>
            <th scope="row">ANTI-RAGGING COMMITTEE</th>
            <td><a href="#">Click Here</a></td>
          </tr>
          <tr>
            <th scope="row">COMMITTEE FOR SC/ST</th>
            <td><a href="#">Click Here</a></td>
          </tr>
          <tr>
            <th scope="row">GOVERNING COUNCIL</th>
            <td><a href="#">Click Here</a></td>
          </tr>
          <tr>
            <th scope="row">GRIEVANCE REDRESSAL COMMITTEE 2020</th>
            <td><a href="#">Click Here</a></td>
          </tr>
          <tr>
            <th scope="row">INTERNAL COMPLAINT COMMITTEE</th>
            <td><a href="#">Click Here</a></td>
          </tr>
          <tr>
            <th scope="row">OTHER COMMITTEE</th>
            <td><a href="#">Click Here</a></td>
          </tr>
        </tbody>
</table>
