<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1">Internal Quality Assurance Cell (IQAC) Committee</h1>
      <hr>
    </div>
</div>
<div class="content">
    <h4>Internal Quality Assurance Cell (IQAC)</h4>
    <p>In pursuance of its Action Plan for performance evaluation, assessment & accreditation & quality 
        up-gradation of institutions of higher education, NAAC proposes that every accredited institution 
        should establish an Internal Quality Assurance Cell (IQAC). Since quality enhancement is a continuous process, 
        the IQAC is an integral part of Techno India NJR Institute of Technology, Udaipur.  
        The prime task of the IQAC is to develop a system for conscious, consistent & catalytic improvement in 
        the overall performance of institutions. For this, it will channelize all efforts & measures of the institution 
        towards promoting its holistic academic excellence.

    </p>
    <p>Internal Quality Assurance Cell is constituted as per the following:</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let i of iqrc; let j=index">
            <td>{{j+1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.designation}}</td>
            
          </tr>
        

        </tbody>
      </table>
      <p>IQAC shall evolve mechanisms and procedures for</p>
      <ol>
          <li>Ensuring timely, efficient, and progressive performance of academic, administrative, and financial tasks.</li>
          <li>The relevance and quality of academic and research programs.</li>
          <li>Equitable access to and affordability of academic programs for various sections of society.</li>
          <li>Optimization and integration of modern methods of teaching and learning.</li>
          <li>The credibility of evaluation procedures.</li>
          <li>Ensuring the adequacy, maintenance, and proper allocation of support structure and services.</li>
          <li>Sharing of research findings and networking with other institutions in India and abroad.
        </li>
      </ol>
</div>