<div class="jumbotron" aria-hidden="true">
   <h1>Trainings</h1>
</div>
<mat-tab-group class="tabs">
    <mat-tab label="Computer Science">
       <div class="flex row" >
        <img src="../../assets/training/upGrad.png" class="col-md-3" >
           <div class="col-md-7">
            
            <p >Techno India NJR has collaborated with upGrad campus to empower their students as full-stack developers. 
                Techno India NJR has always been at the forefront in ensuring the successful holistic career of its students. 
                Alliance with upGrad campus will pave the way to secure this goal.</p>
                <br><a style="color: #a0162a;
                font-weight: bold;">More Info</a>
           </div>
           
        </div>
        <div class="flex row"> 
            <img src="../../assets/training/rha.png" class="col-md-3" > 
               <div class="col-md-7" >
                
                <p >Red Hat Academy Trainers have and will be training Techno NJR Students for  2 Red Had Certifications,
                     <span>Introduction to Containers, Kubernetes, and Red Hat OpenShift</span> and 
                     <span>Red Hat Certified System Administrator</span> which are very well known certifications in Industry.</p>
    
               </div>
         </div>
         <div class="flex row">
            <img src="../../assets/training/UiPath.png" class="col-md-3">
            <div class="col-md-7" >
                
                <p >UiPath is leading the “automation first” era – championing a robot for every person and enabling robots to 
                learn new skills through AI and machine learning. Through free and open training, UiPath is led by a commitment to 
                bring digital era skills to millions of people around the world, thereby improving business productivity and efficiency,
                 employee engagement and customer experience.</p>
            </div>
        
         </div>
         <div class="flex row">
            <img src="../../assets/training/mulesoft.png" class="col-md-3">
            <div class="col-md-7" >
                
                <p >MuleSoft provides the most widely used integration platform (Mule ESB & CloudHub) for connecting SaaS & enterprise applications in 
                the cloud and on-premise. MuleSoft’s Anypoint Platform™ is a leading solution for API-led connectivity that creates an application 
                network of apps, data, and devices, both on-premises and in the cloud. 
                This hybrid integration platform includes iPaaS, ESB, and a unified solution for API management, design and publishing.</p>
            </div>
        
         </div>
         <div  class="flex row">
            <img src="../../assets/training/Salesforce.png" class="col-md-3">
            <div class="col-md-7" >
                
                <p >Salesforce is an American cloud-based software company headquartered in San Francisco, California. It provides customer 
                relationship management service 
                and also provides enterprise applications focused on customer service, marketing automation, analytics, and application development.</p>
            </div>
         </div>
         <div class="flex row">
            <img src="../../assets/training/eon.png" class="col-md-3">
            <p class="col-md-7" >Designed to bring Augmented and Virtual Reality solutions to as many people around the world as possible, 
             EON-XR removes the obstacles that often come with incorporating AR and VR into an academic or industrial environment. 
             Through EON-XR, educators, trainers, employers, and other users are able to create interactive and immersive AR and 
             VR lessons without needing any coding or advanced technological knowledge. The lessons can then be distributed to their 
             audience of students, trainees, employees, or the general public for consumption on common devices ranging from smartphones
            to laptops to publicly available headsets. EON-XR is preparing millions of students, employees, and citizens for the present 
            and future while both replacing and aiding traditional training and teaching methods in dozens of countries around the world.

            </p>
      </div>
      <div class="flex row">
      <img src="../../assets/training/docker.png" class="col-md-3">
      <div class="col-md-7">
        <h2>Docker- A Hands-on Session</h2><br>
        <p>
          
          <span>Docker: </span>It can package an application and its dependencies in a virtual container that can run on 
          any Linux, Windows or macOS computer. It is a software platform that allows you to build, test, and deploy applications quickly.
        </p><br>
        <a style="color: #a0162a;
        font-weight: bold;">More Info </a>
      </div>
      
   </div>
   <div class="flex row">
    <img src="../../assets/training/sap.jpg" class="col-md-3">
    <p class="col-md-7" >Techno India NJR is an Authorized Training Partner with SAP India Education. The SAP Training Program enables fresh graduates to be SAP certified consultant and equipped with a fundamental understanding of SAP and its various modules. Techno NJR is conducting SAP ABAP course leading to certification.
        Till now, 25 students have become for SAP Certified International Professionals and have been placed in SAP-based companies like Capgemini, Yash Technologies, Diligent Consulting.
        
        </p>
   </div>
   <div class="flex row">
    <img src="../../assets/training/oracle.jpg" class="col-md-3">
    <p class="col-md-7" >Techno India NJR is a member of Oracle Academy since 2011 Every year, more than 50 students get certified in Java 
        (OCJP) and in Oracle Database (OCA). This year also, 50 students got certified in Oracle Certified Professional, 
        Java SE 6 Programmer (OCJP) certification examination. Oracle Trainings and certifications help in benchmarking students and b
        ridging the gap between industry and academia. Also, it helps student a lot for building a successful career in IT and getting 
        placed with good company.
    </p>
   </div>
    </mat-tab>
    <mat-tab label="Electronics and Communication"> 
     
           <div class="flex row" >
            <img src="../../assets/training/cranes.jpg" class="col-md-3" >
               <div class="col-md-7">
                
                <p >Cranes Software International Limited a company with a global presence provides Enterprise Statistical and 
                  Engineering Simulation Software Products and solutions worldwide. Techno NJR ECE and EEE students add Industry 
                  skills and application-oriented knowledge to their engineering education through Cranes Varsity, the education branch 
                  of Cranes Software.  In-depth technical knowledge as per current industry trends is provided by experts with experience 
                  of 10-15 years. Some of the best-known experts of Bangalore educate the students in acquiring industry design skills and 
                  prepare them for core companies.<br>

                  More than 100 Techno NJR students of the ECE branch have been trained by Cranes by undergoing in-depth modules on C, 
                  C++, GPOS, ARM, Model-Based Embedded Design, and RTOS. Hands-on MATLAB-based designs and ARM-based projects carried out 
                  in industry style have made many Techno NJR students team members of companies like Verifone, Tata Elxi, Thought Focus, 
                  and more.</p>
          
               </div>
               
            </div>
    </mat-tab>
    <mat-tab label="Electrical"> 
      <div class="flex row" >
        <img src="../../assets/training/rockwell-300x87-1.jpg" class="col-md-3" >
           <div class="col-md-7">
            
            <p >Rockwell Automation is the world’s leading company dedicated to industrial automation and information. 
              Throughout the world,   Allen-Bradley® and Rockwell Software® product brands are recognized for innovation and excellence.<br>

              Rockwell Automation Training Services has been accredited as an Authorized Provider by the International Association for Continuing 
              Education and Training. Techno NJR has signed an agreement with Rockwell for providing comprehensive training to its students in the 
              area of automation. More than 100 students have undergone Rockwell training resulting in rewarding jobs in many industries using Rockwell 
              automation products. 
              Techno NJR has also set up a PLC automation Lab with Rockwell and Siemen’s PLCs and software where students practice and do projects.</p>
      
           </div>
           
        </div>
    </mat-tab>
    <mat-tab label="Mechanical"> 
      <div class="flex row" >
        <img src="../../assets/training/Indo-German-Tool-Room.jpg" class="col-md-3" >
           <div class="col-md-7">
            <h2>Indo German Tool Room</h2>
            <p >ndo German Tool RoomMechanical branch students undergo 6 months of training at Indo German Tool Room (IGTR) at Ahmedabad leading to 
              Certificate of Master of CAD and CAM Technology. More than 50 students of 2014 and 2015 batch students have undergone this training under
               a tie-up between Techno NJR and IGTR.<br>

              IGTR is one of the finest training facilities for computer numerical controlled (CNC) tool and dies making machining and manufacturing, and modern production technology. Here students undergo hands-on training on software, simulation tools, and industrial CNC machines. The tools and software include SIEMEN and HASS Simulators, MTS Software, Master CAM, CNC lathe and CNC milling, AutoCAD, CATIA, ProE, and ANSYS. 
              IGTR also has a full-fledged Industrial Production Center where students work on industrial consultancy and machining projects.</p>
      
           </div>
           
        </div>
        <div class="flex row" >
          <img src="../../assets/training/indian-rubber-institute-300x99-1.jpg" class="col-md-3" >
             <div class="col-md-7">
              <p >Techno NJR Mechanical students have an option of specialising in Rubber Technology through a tie up between Techno NJR ,  
                Hari Shankar Singhania Elastomer and Tyre research Institute (HASETRI)  and Indian Rubber Institute ( IRI) . Under this arrangement 
                Students study rubber technology course concurrently with their B.Tech degree and appear in an exam conducted by IIT Kharagpur’s Rubber 
                Technology Center leading to  PG Diploma of India Rubber Institute (PGDIRI). This enables student  enter Tyre and rubber industry for a 
                rewarding job.21 Mechanical Engineering students of 2015 batch are enrolled for PGDIRI exam in this session.</p>
        
             </div>
             
          </div>
    </mat-tab>
  </mat-tab-group>
